<div class="container">
    <header class="header">
        <h2 class="header-title">Simular</h2>
    </header>

    <div class="action-meses">
        <button *ngFor="let mes of meses" [class.selected]="mes === selectedMes" (click)="selecionarMes(mes)">
            {{ mes }} mes{{ mes > 1 ? 'es' : '' }}
        </button>
    </div>

    <div class="list">
        <div class="list-header">
            <span class="col-info">Conta</span>
            <span class="col-info">Entradas</span>
            <span class="col-info">Saidas</span>
            <span class="col-info">Saldo</span>
        </div>

        <div class="itens" *ngFor="let item of transacoesPorConta">
            <div class="item-container">
                <div class="item-conta">
                    <span class="conta-value">{{item.conta.banco}} - {{item.conta.nome}}</span>
                </div>

                <div class="item-entradas">
                    <span class="entradas-value">{{item.entradas | currency: 'BRL'}}</span>
                </div>

                <div class="item-saidas">
                    <span class="saidas-value">{{item.saidas | currency: 'BRL'}}</span>
                </div>

                <div class="item-saldo">
                    <span class="saldo-value">{{item.saldo | currency: 'BRL'}}</span>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="foot-item">TOTAL</div>
            <div class="foot-item">{{totalEntradas | currency: 'BRL'}}</div>
            <div class="foot-item">{{totalSaidas | currency: 'BRL'}}</div>
            <div class="foot-item">{{totalSaldo | currency: 'BRL'}}</div>
        </div>
    </div>

</div>