<div class="sidenav-container">
    <div class="sidenav" [@sidenavAnimation]="isClosed ? 'closed' : 'open'">
        <div class="sidenav-header">
            <img src="assets/logo.png" alt="Logo" class="logo" [ngClass]="{'small': isClosed}">
            <!-- <button class="toggle-btn" (click)="toggleSidenav()">
                <i class="fas" [ngClass]="{'fa-bars': isClosed, 'fa-times': !isClosed}"></i>
            </button> -->
        </div>
        <nav>
            <ng-container *ngFor="let item of navItems">
                <a class="nav-item" (click)="item.subItems ? toggleSubMenu(item) : null" [routerLink]="item.path">
                    <i class="fas" [ngClass]="item.icon"></i>
                    <span [ngClass]="{'hidden': isClosed}">{{ item.title }}</span>
                    <i *ngIf="item.subItems" class="fas"
                        [ngClass]="{'fa-chevron-down': !item.expanded, 'fa-chevron-up': item.expanded}"></i>
                </a>
                <ul *ngIf="item.expanded && item.subItems" class="sub-menu">
                    <li *ngFor="let subItem of item.subItems">
                        <a [routerLink]="subItem.path" class="nav-item sub-item">
                            <span [ngClass]="{'hidden': isClosed}">{{ subItem.title }}</span>
                        </a>
                    </li>
                </ul>
            </ng-container>
        </nav>
    </div>
    <div class="main-content" [ngClass]="{'main-content-expanded': isClosed}">
        <router-outlet></router-outlet>
    </div>
</div>