<div class="container">

  <app-lancamento-filter (apply)="applyFilters($event)" (create)="createModal()"></app-lancamento-filter>

  <div class="lancamento-list-container">
    <div *ngIf="loading" class="loading-spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <!-- Tabela de Lançamentos -->
    <div class="list-container">
      <div class="list-header">
        <span class="col-info">Descrição</span>
        <span class="col-info">Data Criação</span>
        <span class="col-info">Banco</span>
        <span class="col-info">Pagamento</span>
        <span class="col-valor">Valor</span>
        <span class="col-acoes">Ações</span>
      </div>

      <app-lancamento-item
        *ngFor="let lancamento of lancamentos"
        [lancamento]="lancamento"
        (edit)="editLancamento($event)"
        (delete)="deleteLancamento($event)"
        (copy)="copy($event)"
      ></app-lancamento-item>
    </div>
  </div>

  <div *ngIf="lancamentos.length === 0 && !loading" class="no-results">
    Nenhum lançamento encontrado.
  </div>

  <!-- ADD MODAL -->

  <div class="modal" *ngIf="showCreateModalLancamento">
    <app-form-lancamento
      [title]="'Criar lançamento'"
      (enviar)="onSubmit($event)"
      (cancel)="createModal()"
    ></app-form-lancamento>
  </div>

  <!-- EDIT MODAL -->

  <div class="modal" *ngIf="showEditModalLancamento">
    <app-form-lancamento
      [title]="'Editar lançamento'"
      (enviar)="onEditSubmit($event)"
      (cancel)="editModal()"
    ></app-form-lancamento>
  </div>
</div>
