
<div class="main-content">
  <app-page-header [navName]="'Contas'" [title]="'Contas'"></app-page-header>

  <div class="header">
    <div class="header-filter">
      <mat-form-field appearance="outline">
        <mat-label>Banco</mat-label>
        <input matInput type="text" id="banco">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Conta</mat-label>
        <input matInput type="text" id="conta">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Dia Vencimento</mat-label>
        <input matInput type="number" id="diaVencimento">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Dia Fechamento</mat-label>
        <input matInput type="number" id="diaFechamento">
      </mat-form-field>
    </div>

    <div class="header-actions">
      <button class="create-btn" (click)="createNew()">Criar</button>
      <button class="create-btn" (click)="getAccounts()">Pesquisar</button>
    </div>
  </div>

  <div class="container">

    <div *ngIf="!loading && !error && contas.length > 0" class="contas-list">
      <!-- TITULOS COLUNAS -->
      <div class="contas-header">
        <span class="col-info">Banco</span>
        <span class="col-info">Fechamento</span>
        <span class="col-info">Vencimento</span>
        <span class="col-actions">Ações</span>
      </div>

      <!-- ITENS COLUNAS -->
      <div *ngFor="let conta of contas">
        <app-conta-item [conta]="conta" (edit)="edit($event)" (delete)="deleteConta($event)"></app-conta-item>
      </div>

    </div>

    <div *ngIf="loading" class="spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <!-- Mensagem de ausência de contas -->
    <div *ngIf="contas.length === 0 && !loading" class="no-results">
      Nenhuma conta encontrada.
    </div>
  </div>
</div>

<div class="modal" *ngIf="showModal">
  <app-conta-form [conta]="contaSelecionada" (submit)="onSubmit($event)" (close)="closeModal()"></app-conta-form>
</div>
