@use '@angular/material' as mat;
@import '../../shared/variable.scss';

.container {
  margin: 20px;
  background-color: $bg-positive;
  border: 1px solid $border-default-positive;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

.header{
  border: 1px solid $border-default-positive;
  margin: 20px;

  .header-filter {
    display: flex;
    background-color: $bg-positive;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .header-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $header-positive;
    border: 1px solid $border-default-positive;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .create-btn {
      margin: 10px;
      display: flex;
      align-items: center;
      padding: 15px 25px;
      font-size: 16px;
      color: $text-light;
      background-color: $blue-dark;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;

      &:hover {
        background-color: $blue;
      }

      &:active {
        background-color: #004085;
        transform: scale(0.95);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.contas-list {
  display: flex;
  background-color: $blue-dark;
  flex-direction: column;
  width: 100%;

  .contas-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    align-items: center;
    padding: 12px;
    text-align: left;
    position: relative;
  }

  .contas-header {
    color: $text-light;
    padding: 20px;
    border: 1px double $border-default-positive;
    font-weight: bold;

    .col-info{
      border-right: 1px solid $border-default-positive;
    }
  }

  .contas-header > * {
    padding: 0 10px;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 10%;
      right: 0;
      height: 80%;
      width: 1px;
      background: linear-gradient(to bottom, transparent, $light-hover, transparent);
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.no-results {
  font-size: 16px;
  color: $text-muted;
  margin-top: 20px;
}
