@import '../../shared/variable.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  background-color: $background-color;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  font-weight: bold;
  border-radius: 4px;
}

.list-title {
  font-size: 28px;
  font-weight: bold;
  color: $text-title;
}

.create-btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  color: $text-light;
  background-color: $text-button;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-btn i {
  margin-right: 8px;
}

.create-btn:hover {
  background-color: $text-button-hover;
}

.loading-spinner,
.error-message,
.no-results {
  text-align: center;
  font-size: 16px;
  color: $text-muted;
  margin: 20px 0;
}

.loading-spinner i,
.error-message i {
  margin-right: 8px;
}

.error-message {
  color: $text-red;
}

.no-results {
  font-size: 16px;
  color: $text-muted;
  margin-top: 20px;
}

.contas-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contas-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  align-items: center;
  padding: 12px;
  text-align: left;
  position: relative;
}

.contas-header {
  background-color: $blue;
  color: $text-light;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}

.contas-header > * {
  padding: 0 10px;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 1px;
    background: linear-gradient(to bottom, transparent, $light-hover, transparent);
  }
}

.conta-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error-message {
  color: $text-red;
  font-size: 12px;
  margin-top: 5px;
}