@import "../../../../shared/variable.scss";

.container {
  background-color: $bg-positive;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba($blue-dark, 0.5);
  animation: slideIn 0.5s ease-out;

  .form-title {
    color: $blue-dark;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 3px;
      background: $medium-blue;
      border-radius: 2px;
    }
  }
}

.form-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2rem;

  .form-group {
    margin-bottom: 1.5rem;
    animation: fadeIn 0.5s ease-out forwards;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 2.5rem;
    padding-top: 1.5rem;
    border-top: 0.5px solid $blue;
  }

  button {
    border-radius: 6px;
  }

  .btn-salvar {

    background-color: $btn-positive;
    color: $text-btn-positive;

    &:disabled {
      background-color: $btn-disabled-positive;
      color: $text-btn-disabled-positive;
      border: none;
    }

    &:hover {
      background-color: $btn-hover-positive;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .btn-cancelar {
    background-color: $btn-danger-positive;
    color: $text-btn-danger-positive;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;

    &:hover {
      background-color: $btn-danger-hover-positive;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

#hiddenId,
#hiddenStatus {
  position: absolute;
  left: -9999px;
}
