<app-page-header [navName]="'Monitor'" [title]="'Monitor de erros'"></app-page-header>

<div class="container">

  <div class="list-container">

    <div *ngIf="loading" class="loading-spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <div class="table-container">
      <div class="table-header">
        <span class="col-info">Data/Hora</span>
        <span class="col-info">Operador</span>
        <span class="col-info">Mensagem de Erro</span>
        <span class="col-acoes">Ações</span>
      </div>

      <app-monitor-erros-item *ngFor="let error of errors" [error]="error" (viewDetails)="openModal($event)"></app-monitor-erros-item>
    </div>
  </div>

  <div *ngIf="errors.length === 0 && !loading" class="no-results">
    Nenhum lançamento encontrado.
  </div>
</div>

<!-- Modal -->
<div id="modal" class="modal" *ngIf="selectedLog">
  <div class="modal-content">
    <!-- Cabeçalho -->
    <div class="modal-header">
      <span class="modal-title">Visualizar log</span>
      <button class="close-button" (click)="closeModal()">&#10005;</button>
    </div>

    <!-- Corpo -->
    <div class="modal-body">
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput rows="5" cols="100" type="text">{{ selectedLog.stacktrace }}</textarea>
      </mat-form-field>
    </div>

    <!-- Rodapé -->
    <div class="modal-footer">
      <button class="close-footer-button" (click)="closeModal()">Fechar</button>
    </div>
  </div>
</div>
