<div class="modal">
    <div class="modal-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" (cancel)="onClose()">
            <!-- Valor -->
            <mat-form-field appearance="outline" class="form-group">
                <mat-label>Valor</mat-label>
                <input matInput type="number" formControlName="valor">
                <mat-error *ngIf="form.get('valor')?.invalid && form.get('valor')?.touched">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>

            <!-- Categoria -->
            <mat-form-field appearance="outline" class="form-group">
                <mat-label>Categoria</mat-label>
                <mat-select [(value)]="categoriaSelecionada" formControlName="categoria">
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria">
                    {{ categoria }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Meses -->
              <mat-form-field appearance="outline" class="form-group">
                <mat-label>Mes</mat-label>
                <mat-select [(value)]="mesSelecionado" formControlName="mes">
                  <mat-option *ngFor="let mes of meses" [value]="mes.value">
                    {{ mes.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="form-actions">
                <button type="submit" class="btn btn-salvar" [disabled]="form.invalid">
                    <i class="fas fa-save"></i> Salvar
                </button>
                <button type="button" class="btn btn-cancelar" (click)="onClose()">
                    <i class="fas fa-times"></i> Cancelar
                </button>
              </div>
        </form>
    </div>
</div>