<!--  -->

<div class="item">
    <!-- Descricao -->
    <div class="info">
        <span class="lancamento-title">{{ lancamento.descricao }}</span>
    </div>

    <!-- Valor e Data criacao -->
    <div class="lancamento-details">
        <span class="lancamento-value">{{ lancamento.valor | currency: 'BRL' }}<span class="lancamento-date">/{{
                lancamento.parcelas }}</span></span>
        <span class="lancamento-date">{{ lancamento.dtCriacao }}</span>
    </div>

    <!-- Banco e nome -->
    <div class="lancamento-details">
        <span class="lancamento-value">{{ lancamento.conta.banco }}</span>
        <span class="lancamento-date">{{ lancamento.conta.nome }}</span>
    </div>

    <!-- Tipos pagamento e lancamento -->
    <div class="lancamento-details">
        <span class="lancamento-value">{{ lancamento.tipoLancamento }}</span>
        <span class="lancamento-date">{{ lancamento.tipoPagamento }}</span>
    </div>

    <!-- Botao de acao -->
    <div class="lancamento-actions">
        <button class="btn btn-link edit-btn" (click)="onEdit()">
            <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-link delete-btn" (click)="onDelete()">
            <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-link copy-btn" (click)="onCopy()">
            <i class="fas fa-clipboard"></i>
        </button>
    </div>
</div>