<!--  -->

<div class="item">
    <!-- Descricao -->
    <div class="info">
        <span class="lancamento-title">{{ lancamento.descricao }}</span>
    </div>

  <!-- Banco e nome -->
  <div class="lancamento-details">
    <span class="txt-primary">{{ lancamento.dtCriacao }}</span>
  </div>

    <!-- Banco e nome -->
    <div class="lancamento-details">
        <span class="txt-primary">{{ lancamento.contaDestino.banco }}</span>
        <span class="txt-secondary">{{ lancamento.contaDestino.nome }}</span>
    </div>

    <!-- Tipos pagamento e lancamento -->
    <div class="lancamento-details">
        <span class="txt-primary">{{ lancamento.tipoLancamento }}</span>
        <span class="txt-secondary">{{ lancamento.tipoPagamento }}</span>
    </div>

    <!-- Valor -->
    <div class="lancamento-details">
      <span class="txt-valor">
          {{ lancamento.valor | currency: 'BRL' }}
        <span class="txt-secondary">/{{ lancamento.parcelas }}</span>
      </span>
    </div>

    <!-- Botao de acao -->
    <div class="lancamento-actions">
        <button class="btn btn-link edit-btn" (click)="onEdit()">
            <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-link delete-btn" (click)="onDelete()">
            <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-link copy-btn" (click)="onCopy()">
            <i class="fas fa-clipboard"></i>
        </button>
    </div>
</div>
