@import '../../../../shared/variable.scss';

.item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
    align-items: center;
    padding: 12px;
    text-align: left;
    position: relative;
    background-color: $bg-positive;
    border-left: 4px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }

    &:hover {
      background-color: $shadow;
    }
}

.item>* {
    padding: 0 10px;

    &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 10%;
        right: 0;
        height: 80%;
        width: 1px;
        background: linear-gradient(to bottom, transparent, $bg-positive, transparent);
    }
}

.lancamento-title {
    font-weight: bold;
    color: $title-positive;
}

.lancamento-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    font-size: 14px;

    .txt-primary {
      color: $blue-dark;
      font-weight: bold;
    }

    .txt-secondary {
      font-size: 12px;
      color: $text-positive;
    }

    .txt-valor {
      color: $blue-dark;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
}


.lancamento-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.lancamento-list {
    display: flexnpm s;
    flex-direction: column;
    width: 100%;
}

.edit-btn,
.delete-btn,
.copy-btn,
.expand-btn {
    font-size: 18px;
    color: #666;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.2s;
}

.edit-btn:hover {
    color: #4CAF50;
}

.delete-btn:hover {
    color: #E53935;
}

.copy-btn:hover {
    color: #0aa2e9;
}

.expand-btn:hover {
    color: #1745dd;
}


@media (max-width: 768px) {
    .item {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .lancamento-actions,
    .transacao-actions {
        justify-content: center;
    }
}
