<div class="container">
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select [formGroup]="filtro" [(value)]="categoriasSelecionadas" multiple>
        <mat-option value="">Todas</mat-option>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="filtro">
      <mat-label>Tipo de Lançamento</mat-label>
      <mat-select formControlName="tipo">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let tipo of tiposLancamento" [value]="tipo">
          {{ tipo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="filtro">
      <mat-label>Forma de Pagamento</mat-label>
      <mat-select formControlName="pagamento">
        <mat-option value="">Todas</mat-option>
        <mat-option *ngFor="let pagamento of tiposPagamento" [value]="pagamento">
          {{ pagamento }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [formGroup]="filtro" [(value)]="statusSelecionados" multiple>
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let status of statusTransacao" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Conta</mat-label>
      <mat-select [(value)]="contasSelecionadas" [formGroup]="filtro" multiple>
        <mat-option [value]="contaVazia">Todas</mat-option>
        <mat-option *ngFor="let conta of contas" [value]="conta">
          {{ conta.banco }} - {{ conta.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Selecione um período</mat-label>
      <mat-date-range-input [formGroup]="filtro" [rangePicker]="picker">
        <input matStartDate formControlName="dtInicio" placeholder="Data inicio">
        <input matEndDate formControlName="dtFim" placeholder="Data fim">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="actions">
    <button class="btn-pesquisar" (click)="onCriar()">
      Novo Lançamento
    </button>
    <button class="btn-pesquisar" (click)="onApply()">
      Pesquisar
    </button>
  </div>
</div>
