$background-color: #f3f4f6;

$blue: #4a90e2;
$blue-dark: #256DD3;
$light: #fff;
$light-hover: #f8f8f8;
$gray: #6c757d;

$text-title: #333;
$text-light: $light;
$text-button: $blue;
$text-button-hover: $blue-dark;
$text-muted: #666;
$text-red: #E53935;
$text-red-dark: #8a1f1d;
$text-green: #34C759;