@import '../../../../shared/variable.scss';

.container {

}

.list {
  margin: 20px;
  background-color: $bg-positive;
  border: 1px solid $border-default-positive;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;

  .list-container {
    display: flex;
    background-color: $blue-dark;
    flex-direction: column;
    width: 100%;

    .list-header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 12px;
      align-items: center;
      padding: 12px;
      text-align: left;
      position: relative;

      color: $text-light;
      padding: 20px;
      border: 1px double $border-default-positive;
      font-weight: bold;

      
    }
  }
}


.col-info {
  font-weight: bold;
  color: $title-positive;
}

.col-sub-info {
  font-weight: bold;
  color: $text-positive;
  font-size: 12px;
}

.col-details {
  font-weight: bold;
  color: $text-blue;
}


.col-valor {
  font-weight: bold;
  color: $text-blue;
}


.txt-entradas {
  color: $text-green;
}

.txt-saidas {
  color: $text-red;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

