<div class="dashboard">
  <header class="header">
    <div class="search-bar">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="Search" />
    </div>
    <div class="header-actions">
      <!-- <button class="action-button">
        <i class="fas fa-plus"></i>
        Criar Orcamento
      </button> -->
      <div class="notifications">
        <i class="fas fa-bell"></i>
        <span class="notification-badge">3</span>
      </div>

      <div class="profile">
        <img src="https://i.pinimg.com/736x/d0/5d/32/d05d32a29acec1eb735fd9bde451aa02.jpg" alt="Profile"
          class="profile-image" />
      </div>
    </div>
  </header>

  <!-- Welcome Section -->
  <div class="welcome-section">
    <div class="user-greeting">Olá Kaio,</div>
    <div class="welcome-message">
      <span>Bem vindo de volta!</span>
      <span class="wave-emoji">👋</span>
    </div>
  </div>

  <!-- BALANCE -->
  <div class="balance-card">

    <div class="balance-header">
      <p>Balanço</p>
      <p>{{getMonth()}}</p>

      <mat-form-field appearance="outline" style="height: auto;">
        <mat-select [(value)]="contasSelecionadas" multiple>
          <mat-option [value]="">Todas</mat-option>
          <mat-option *ngFor="let conta of contas" [value]="conta">
            {{ conta.banco }} - {{ conta.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="total">
      <p class="total-value">{{ getSaldoParcial() | currency: 'BRL' }}</p>
      <i *ngIf="getSaldoParcial() > 0" class="fas fa-arrow-up positive"></i>
      <i *ngIf="getSaldoParcial() < 0" class="fas fa-arrow-down negative"></i>
    </div>

    <div class="action">
      <button class="btn-simular" (click)="simular()">
        Simular
      </button>
    </div>
  </div>

  <app-orcamento-chart [orcamentos]="orcamentos"></app-orcamento-chart>
</div>