@import '../../../../../../shared/variable.scss';

.container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 12px;
  align-items: center;
  padding: 12px;
  text-align: left;
  position: relative;
  background-color: $bg-positive;
  border-left: 4px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:not(:last-child) {
    border-bottom: 1px solid $gray;
  }

  &:hover {
    background-color: $shadow;
  }
}


.container > * {
  padding: 0 10px;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 1px;
    background: linear-gradient(to bottom, transparent, $bg-positive, transparent);
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  font-size: 14px;

  .txt-title {
    font-weight: bold;
    font-size: 16px;
    color: $title-positive;
  }

  .txt-valor {
    color: $title-positive;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
