<div class="container-list">

  <app-transacao-filter (apply)="applyFilters($event)"></app-transacao-filter>

  <div class="container">

    <header class="title">
      <h2 class="list-title">Transações</h2>
    </header>


    <div class="totalizadores">
      <div class="total-item total-entrada">
        <i class="fas fa-arrow-circle-up"></i>
        <span class="total-label">Entradas</span>
        <span class="total-value">{{ totalizador.totalEntrada| currency:'BRL':'symbol':'1.2-2' }}</span>
      </div>

      <div class="total-item total-saldo">
        <i class="fas fa-balance-scale"></i>
        <span class="total-label">Saldo</span>
        <span class="total-value" [ngClass]="{'positive': totalizador.total >= 0, 'negative': totalizador.total < 0}">
          {{ totalizador.total | currency:'BRL':'symbol':'1.2-2' }}
        </span>
      </div>

      <div class="total-item total-saida">
        <i class="fas fa-arrow-circle-down"></i>
        <span class="total-label">Saídas</span>
        <span class="total-value">{{ totalizador.totalSaida| currency:'BRL':'symbol':'1.2-2' }}</span>
      </div>
    </div>

    <div class="list">
      <div class="header">
        <span class="col-info">Descrição</span>
        <span class="col-details">Valor</span>
        <span class="col-details">Status</span>
        <span class="col-details">Vencimento</span>
        <span class="col-actions">Ações</span>
      </div>
    </div>

    <app-transacao-item *ngFor="let transacao of transacoes" [transacao]="transacao" (edit)="editTransacao($event)"
      (pay)="payTransacao($event)"></app-transacao-item>
  </div>

</div>