@import '../../../../../../shared/variable.scss';

.container {

}

.list {
  margin: 20px;
  background-color: $bg-positive;
  border: 1px solid $border-default-positive;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;

  .list-container {
    display: flex;
    background-color: $blue-dark;
    flex-direction: column;
    width: 100%;

    
  }
}

.list-header {
  color: $text-light;
  border: 1px solid $border-default-positive;
  font-weight: bold;
}

.col-valor {
  font-weight: bold;
  color: $text-blue;
}

.txt-entradas {
  color: $text-green;
}

.txt-saidas {
  color: $text-red;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
