@use '@angular/material' as mat;

@include mat.form-field-theme((
  outline: (
    border: (
      color: #4caf50,
      width: 2px
    )
  ),
  fill: (
    background: #f0f0f0,
    hover: #e0e0e0,
    focus: #d0d0d0
  )
));
