<div class="container">
  <div class="filters">

    <mat-form-field appearance="outline">
      <mat-label>Conta</mat-label>
      <mat-select multiple [(value)]="contasSelecionadas" [formGroup]="filtro">
        <mat-option >Todas</mat-option>
        <mat-option *ngFor="let conta of contas" [value]="conta">
          {{ conta.banco }} - {{ conta.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="actions">
    <button class="btn-pesquisar" (click)="onApply()">
      Pesquisar
    </button>
  </div>
</div>
