<div class="container">

  <div class="header">
    <p>Orçamentos</p>
    <div class="icon-button-container">
      
      <button class="create" (click)="showOrcamentoModal()"><i class="fas fa-plus"></i></button>
    </div>
  </div>

  <div class="card-container">
    <app-orcamento-item
      *ngFor="let orcamento of orcamentos"
      [orcamento]="orcamento"
    ></app-orcamento-item>
  </div>

  <div class="modal" *ngIf="showModal">
    <app-orcamento-form (submit)="onSubmit($event)" (close)="showOrcamentoModal()"></app-orcamento-form>
  </div>
</div>
